[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[dev-packages]
flake8 = "*"
yapf = "*"
pytest = "*"
build = "*"
twine = "*"

[packages]
lxml = ">=4.8.0"
pyyaml = ">=6.0"
